.logo--color {
  color: var(--link-color);
}

.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.nav__section {
  display: flex;
}
.nav__item {
  display: block;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__links {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--trans-time);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
}
.current-page {
  color: var(--link-color);
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--link-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: var(--link-color);
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  transition: color var(--trans-time);
  &:hover,
  &:focus {
    color: var(--link-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }
}
.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
