.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--trans-time), visibility var(--trans-time);
  overflow-y: scroll;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  min-height: 609px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--trans-time), opacity var(--trans-time);
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
  }
}
.backdrop {
  .is-hidden {
    .modal {
      transform: scale(2.5);
      opacity: 0.2;
    }
  }
}
.modal__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--trans-time);
  &:hover,
  &:focus {
    fill: var(--link-color);
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Modal form */
.client-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.client-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--trans-time);
  cursor: pointer;
}
.input-wrap {
  position: relative;
}
.client-form__icon {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(11px);
  transition: fill var(--link-color);
}

.client-form__input:focus {
  border-color: var(--link-color);
}

.client-form__icon {
  .client-form__input:focus + & {
    fill: var(--link-color);
  }
}
.client-form__text {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--trans-time);
  cursor: pointer;
  resize: none;
  &:focus {
    border-color: var(--link-color);
  }
}

.license {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.license__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;
  }
}
.license__link {
  margin-left: 5px;
  color: var(--link-color);
}
.license__agreement {
  span {
    width: 16px;
    height: 15px;
    margin-right: 6px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--trans-time), border var(--trans-time),
      border-color var(--trans-time);
  }
}

.license__check-icon {
  fill: transparent;
  transition: fill var(--trans-time);
}
.license__agreement {
  .check-box:checked + & {
    span {
      background-color: var(--link-color);
      border: none;
    }
  }
}
.check-box:checked + .license__agreement .license__check-icon {
  fill: var(--white-color);
}
.check-box:focus + .license__agreement span {
  border-color: var(--link-color);
}
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Send Button */
.client-form__send-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--link-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--trans-time);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
